body{
    background-color: rgb(246, 214, 125);
}

header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(250, 156, 4);
}

h1:hover{
    color: purple;
}

#introducao{
    text-align: center;
    font-size: 20px;
    font-family: cursive;
}
#instrucoes{
    text-align: center;
    font-family: cursive;
    font-size: 20px;
    color: purple;
}
.perguntas{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    color: black;
}
#imagem2{
    text-align: center;
}
#clickMe{
    background-color: rgb(234, 59, 234);
    color: white;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;  
}
#clickMe:hover{
    background-color: orange;
    color: black;
}

#result{
    text-align: center;   
}


#answer{
    font-size: 25px;
    color: rgb(255, 166, 0);
    font-family: cursive;
}